hue = var(--color-hue, 0)

palette = {
  primary: oklch(100% 80% hue) oklch(100% 80% hue)
  background: oklch(98% 10% hue) oklch(15% 10% hue)
  surface: oklch(96% 15% hue) oklch(25% 15% hue)
  surface-hover: oklch(92% 20% hue) oklch(35% 20% hue)
  border: oklch(80% 20% hue) oklch(40% 20% hue)
  text: oklch(20% 25% hue) oklch(90% 25% hue)
  text-muted: oklch(45% 25% hue) oklch(75% 25% hue)

  shadow: oklch(10% 10% hue \/ 0.1) oklch(10% 10% hue \/ 0.1)
}