code
  font-family: var(--font-monospace)

.card
  background-color: var(--surface)
  border-radius: 20px
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1)
  padding: 1.5rem

.padded-icon-svg
  font-size: 24px;
  background-color: var(--primary-container);
  padding: 5px;
  border-radius: 8px;

:root::selection
  color: var(--selection-text)
  background-color: var(--selection-background)