<span class="heimu">
  <span class="heimu-content" onclick="this.classList.toggle('visible')">
    <slot />
  </span>
</span>

<style lang="stylus">
  .heimu {
    background: black;
    color: whitesmoke;

    &:hover>.heimu-content {
      opacity: 1;
    }
  }

  .visible {
    opacity: 1;
  }

  :where(.heimu-content) {
    opacity: 0;
    transition: opacity var(--expressive-slow-effects);
  }
</style>
