<div id="loading-indicator"></div>

<script>
  const register = () => {
    let anim: Animation | undefined = undefined;
    let currentWidth = 0;

    const setOpacity = (opacity: number) => {
      const el = document.getElementById('loading-indicator');
      if (!el) return;
      el.animate([{ opacity }], { duration: 500, easing: 'ease-in-out' });
    };

    const setWidth = (width: number) => {
      const el = document.getElementById('loading-indicator');
      if (!el) return;

      if (anim !== undefined) {
        try {
          anim.commitStyles();
        } catch (e) {}
        anim.cancel();
        anim = undefined;
      }

      const animateIncrease = () => {
        currentWidth += 1;
        const newAnim = el.animate([{ width: `${currentWidth}%` }], {
          duration: 1500,
          easing: 'ease-in-out',
          fill: 'forwards',
        });
        newAnim.addEventListener('finish', () => {
          animateIncrease();
        });
        return newAnim;
      };

      if (currentWidth < width) {
        currentWidth = width;
        anim = el.animate([{ width: `${width}%` }], {
          duration: 1500,
          easing: 'ease-in-out',
          fill: 'forwards',
        });
        anim.addEventListener('finish', () => {
          anim = animateIncrease();
        });
      } else {
        anim = animateIncrease();
      }
    };

    document.addEventListener('astro:before-preparation', () => {
      setWidth(60);
    });
    document.addEventListener('astro:after-preparation', () => {
      setWidth(100);
      setOpacity(0.5);
    });
    document.addEventListener('astro:before-swap', () => {
      anim?.cancel();
      anim = undefined;
    });
    document.addEventListener('astro:after-swap', () => {
      anim?.cancel();
      anim = undefined;
    });
  };
  window.addEventListener(
    'load',
    () => {
      register();
      document.addEventListener('astro:page-load', register);
    },
    { once: true },
  );
</script>

<style lang="stylus">
  #loading-indicator {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    width: 0;
    opacity: 0.5;
    border-radius: 2px;
    background: linear-gradient(to right, var(--primary-container), var(--primary), var(--secondary));
    z-index: 1000;
  }
</style>
