
.markdown
  a
    text-decoration: none
    color: var(--secondary)

    &:hover
      text-decoration: underline

  code
    font-family: var(--font-monospace)
    color: var(--on-secondary-container)
    background-color: var(--secondary-container)
    padding: 0 4px
    margin: 0 2px
    border-radius: 4px

  p:has(img)
    text-align: center

  img
    border-radius: 8px
    max-width: 100%
    height: auto